form {
    display: flex;
    flex-direction: column;
  }

mat-form-field input {
    font-family:  "Fira Code", monospace;
}

.config-table {
  overflow: auto;
}

.input-key-form-field {
  width: 80px;
}

